VITE_SUPABASE_URL=https://ikzhvkwfoioszxhyjthm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlremh2a3dmb2lvc3p4aHlqdGhtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ1NjYyOTMsImV4cCI6MjA5MDE0MjI5M30._KzZ9lbgdg7dSuKspiIs7VFRl0w9_ncORrBgdkMKXpU
